@font-face {
	font-family: "Ovo";
	font-style: normal;
	src: url('fonts/Ovo-Regular.ttf');
}

* {
	font-weight: unset;
}

::selection {
	background: blue;
	color: white;
}

body {
	margin: auto;
	margin-bottom: 284px;
	padding-top: 0;
	width: 1280px;
}

html {
	font-family: "Ovo", serif;
	color: #58280c;
	line-height: 1.6;
	letter-spacing: 2.2px;
	word-spacing: 2.2px;
}

p {
	margin-bottom: 0;
}

p, a {
	font-size: 36px;
}

h2 {
	font-size: 80px;
	margin-top: 0;
}

h3 {
	font-size: 36px;
}

a {
	color: unset;

	transition: all 0.24s;
}

a:hover {
	color: blue;
}

article {
	margin-top: -136px;
}

.block {
	margin-top: 284px;
}

.split {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	//grid-template-rows: 1fr 1fr;
	aspect-ratio: 1/1;
	gap: 96px;
}

.grid-card p, .grid-card a {
	font-size: 36px;
}

#title-card {
	display: grid;
	margin-top: 32px;
}

#title-card h1 {
	position: relative;
	top: 284px;

	font-size: 110px;
}

#girlfriend {
	position: relative;
	place-self: end;
	/*left: 800px;*/
	right: 96px;
	bottom: 330px;

	opacity: 0%;
	transition: all 0.25s;
}

#title-card a {
	position: relative;

	place-self: end;
	bottom: 168px;
	left: 120px;
}

#title-card a:hover + p {
	opacity: 100%;
}

#work {
	align-items: baseline;
}

#work img {
	position: relative;
	left: -40px;
	bottom: 179px;
}

#work .grid {
	margin-top: -150px;
}

#links {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#links img {
	margin: auto;
}

#links h2 {
	margin-top: 0;
	margin-bottom: 16px;
}

#links-list p:first-child {
	margin-top: 16px;
}

@media only screen and (max-width: 1280px) {
 	body {
		width: auto;
	  	margin: 0 36px;
	  	margin-bottom: 128px;
  	}

  	.block {
	  	margin-top: 96px;
  	}

  	.split {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
  	}

  	#title-card h1 {
		position: static;
		text-align: center;
		margin-top: 64px;
		margin-bottom: 0;
  	}

  	#title-card a {
	  	position: static;
		place-self: center;
	  	
	  	display: flex;
	  	align-items: center;
  	}

	#title-card a:hover + p {
		opacity: 0%;
	}
}
