@font-face {
	font-family: "Ovo";
	font-style: normal;
	src: url('fonts/Ovo-Regular.ttf');
}

* {
	font-weight: unset;
	--fg: #58280c;
	--bg: #ffdd88;
}

::selection {
	background: blue;
	color: var(--bg);
}

html {
	font-family: "Ovo", serif;
	color: var(--fg);
	background: var(--bg);
	line-height: 1.6;
	word-spacing: 2.2px;
}

body {
	margin: auto;
	margin-bottom: 32px;
	padding-top: 0;
	width: 68ch;
	font-size: 22px;
}

h2 {
	font-size: 80px;
}

h3 {
	font-size: 36px;
}

p {
	margin-bottom: 0;
}

a {
	color: unset;
	transition: all 0.24s;
}

a:hover {
	color: blue;
}

strong {
	font-weight: bold;
}

article {
	margin-top: 64px;
}

img {
	z-index: -100;
}

#title-card {
	display: flex;
}

#title-card h1 {
	position: relative;
	top: 100px;
	right: 0;
	font-size: 110px;
}

#title-card img {
	position: relative;

	top: 150px;
	right: 120px;
}

#work {
	align-items: start;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 64px;
}

#work img {
	position: relative;
	left: -156px;
	bottom: 179px;
	z-index: 1;
}

#work iframe {
	position: relative;
	top: 225px;
	right: 105px;
}

#links {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: -128px;
}

#links img {
	margin: auto;
}

#links img {
	position: relative;
	right: 12px;
	bottom: 82px;
}

#links-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#links-list:first-child {
	text-align: left;
}
#links-list:last-child {
	text-align: right;
}

@media only screen and (max-width: 1280px) {
 	body {
		width: auto;
	  	margin: 0 36px;
	  	margin-bottom: 128px;
  	}

  	#work {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	  	margin-top: 96px;
  	}

  	#title-card h1 {
		position: static;
		text-align: center;
		margin-top: 64px;
		margin-bottom: 0;
  	}

  	#title-card img {
	  	position: static;
		place-self: center;
	  	display: flex;
	  	align-items: center;
  	}
}
